@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #F2F2F2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --brand-primary: #bd9749;
  --brand-secondary: #1f2528;
  --brand-accent:  #155146;
  --brand-textwhite: hsl(0, 0%, 100%);
  --brand-textblack: hsl(0, 0%, 0%);

  --font-display: "Michroma", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --font-body: "Montserrat", sans-serif;

  --text-display: 3.25rem;
  --text-h1: 2.5rem;
  --text-h2: 2rem;
  --text-h3: 1.5rem;
  --text-h4: 1.25rem;
  --text-h5: 1.125rem;
  --text-body: 1rem;
  --text-small: 0.875rem;
}


@theme inline {
  --bg-primary: var(--brand-primary);
  --color-secondary: var(--brand-secondary);
  --color-accent: var(--brand-accent);
}

p {
  font-family: "Montserrat", sans-serif;
}